.default {
    border: none;
    color: hsl(200, 15%, 8%);
    padding: 10px 15px;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

.contained {
    background-color: hsl(0, 0%, 100%);
    border-radius: .5rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.icon {
    margin-right: 8px;
}